// Material button
.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  text-decoration: none; // Remove underlines from links
  font-family: $font-family-sans-serif; // Use same font as bootstrap
}
