@import '~@angular/material/theming';

$primary: mat-palette($mat-light-blue);
$accent: mat-palette($mat-grey);
$theme: mat-light-theme($primary, $accent);

@include mat-core();
@include angular-material-theme($theme);
