<div class="container">
  <form class="sign-in-form d-flex flex-column" [formGroup]="form" (ngSubmit)="signIn()" [@signedInTransition]="signedIn" (@signedInTransition.done)="redirect($event)">
    <h1 class="display-4 text-center mb-4">Sign-in</h1>

    <mat-form-field class="mb-4">
      <mat-label>Username</mat-label>
      <input type="text" formControlName="username" matInput autofocus>
      <mat-error *ngIf="form.get('username').hasError('required')">Username is required.</mat-error>
    </mat-form-field>

    <mat-form-field class="mb-4">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput>
      <mat-error *ngIf="form.get('password').hasError('required')">Password is required.</mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-end">
      <button type="submit" mat-raised-button color="primary" [disabled]="busy">Sign-in</button>
    </div>
  </form>
</div>
