<app-shell [contentChanged]="outlet.isActivated && outlet.activatedRoute" [showNav]="outlet.isActivated && !outlet.activatedRouteData['hideNav']">
  <router-outlet #outlet="outlet"></router-outlet>
</app-shell>
