<header class="shell-navbar" [@navbarReveal]="showNav">
  <div class="container d-flex">
    <nav class="shell-navbar-nav mr-auto">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/examples" routerLinkActive="active">Examples</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </nav>
    <button type="button" mat-button (click)="signOut()">Sign-out</button>
  </div>
</header>
<main class="shell-content" [@pageTransition]="contentChanged">
  <ng-content></ng-content>
</main>
