:host {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.shell-navbar {
  height: 3rem;
  line-height: 3rem;
  box-shadow: 0 1px 2px 1px rgba(black, 0.1);
  background-color: #fff;
  z-index: 100;
}

.shell-navbar-nav {
  display: flex;

  a {
    padding: 0 0.5rem;

    &.active {
      text-decoration: underline;
    }
  }
}

.shell-content {
  flex: 1;
  padding-top: 1rem;
}
